.nav-cat {
    display: none;
}

/*aqui começa o main*/
.conteiner {
    display: flex;
    margin-top: 235px;
    width: 100%;
    height: 700px;
}
.direita {
    width: 50%;
}
/*text area*/
.foratext {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}
.textarea {
    resize: none;
    background-color: white;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 1px #000000 solid;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 800px;
    height: 550px;
    transition: 0.3s;
}
.textarea:hover {
    cursor: text;
}
.textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}
/*acaba*/
.divbotaonext {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.buttonmetodo {
    border: none;
    width: 200px;
    height: 40px;
    background: #30107A;
    border-radius: 25px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;
}
.buttonmetodo:hover {
    color: #30107A;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #24232396;
}
/*aqui comça a esquerda*/
.esquerda {
    width: 43%;
}
.conj1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
}
.txt1 {
    font-size: 20px;
}
.b1 {
    cursor: pointer;
    border: 1px #000000 solid;
    width:90px; 
    height:90px; 
    border-radius: 10px; 
    background-color: #ffff; 
    transition: .3s;
}
.b1:hover {
    transform: scale(1.1);
}
.ad1 {
    width: 20px;
}
.imgbt1res { /*class responsavel por mecher no tamnho da imagem que vai para o bt 1*/
    max-width: 70px; 
    max-height: 70px;
}
.conj2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.txt2 {
    font-size: 20px;
}
.b2 {
    cursor: pointer;
    border: 1px #000000 solid;
    width: 270px; 
    height: 270px; 
    border-radius: 10px; 
    background-color: #ffff; 
    transition: .3s;
}
.transib2:hover {
    transform: scale(1.1);
}
.imgbt2res { /*class responsavel por mecher no tamnho da imagem que vai para o bt 2*/
    max-width: 190px; 
    max-height: 190px;
}
.disabled {
    cursor: not-allowed;
    border: 1px #8E918F solid;
}
.ad2 {
    width: 20px;
}

/*primeira janela*/
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Alterado de min-width para width */
    max-width: 1200px; /* Limite máximo de largura */
    height: 80%; /* Ajuste de altura relativo à tela */
    max-height: 700px; /* Limite máximo de altura */
    overflow: auto;
    background-color: white;
    border:2px solid #8E918F;
    border-radius: 15px;
}
#freteBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
.modal-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 20px;
    text-align: center;
}
.close {
    float: right;
    cursor: pointer;
    padding-right: 10px;
    padding-top: 10px;
}
.image-container {
    cursor: pointer;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px #000000 solid;
    border-radius: 15px;
    transition: .3s;
}
.image-container:hover {
    transform: scale(1.1);
}
.img1modal {
    max-width: 100%;
    max-height: 100px;
}

/*segunda janela*/
.modal2 {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Alterado de min-width para width */
    max-width: 1200px; /* Limite máximo de largura */
    height: 80%; /* Ajuste de altura relativo à tela */
    max-height: 700px; /* Limite máximo de altura */
    overflow: auto;
    background-color: white;
    border:2px solid #8E918F;
    border-radius: 15px;
}
/*estilo botao fechar aplicado*/

/*responsividade*/
@media screen and (max-width: 1669px) {
    .conteiner {
        height: 560px;
        margin-top: 285px;
    }
    .textarea {
        border-radius: 8px;
        font-size: 13px;
        width: 640px;
        height: 440px;
    }
    .buttonmetodo {
        font-size: 18px;
        width: 168px;
        height: 40px;    
        border-radius: 80px;
    }
    /*esquerda*/
    .txt1 {
        font-size: 16px;
    }
    .b1 {
        width: 72px; 
        height: 72px; 
        border-radius: 8px; 
    }
    /*mecher no tamanho da imagem dentro do bt*/
    .imgbt1res { /*class responsavel por mecher no tamnho da imagem que vai para o bt 1*/
        max-width: 56px; 
        max-height: 56px;
    }
    .txt2 {
        font-size: 16px;
    }
    .b2 {
        width: 216px; 
        height: 216px; 
        border-radius: 8px; 
    }
    .imgbt2res { /*class responsavel por mecher no tamnho da imagem que vai para o bt 2*/
        max-width: 152px; 
        max-height: 152px;
    }
    .disabled {
        border: 1px #8E918F solid;
    }  
}

@media screen and (max-width: 1050px) {
    .conteiner {
        flex-direction: column;    
        margin-top: 150px;    
    }
    .direita {
        width: 100%;
        margin-top: 45px;
    }
    .esquerda {
        width: 100%;
    }
    .divbotaonext {
        padding-bottom: 70px;
    }
}

@media screen and (max-width: 715px) {
    /*.image-container {
        width: 110px;
        height: 110px;     /* ainda tenho que ver se deixo ou não
    }*/
    .img1modal {
        max-width: 100%;
        max-height: 75px;
    }
}
@media screen and (max-width: 384px) {
    .image-container {
        width: 88px;
        height: 88px;      
    }
    
    .img1modal {
        max-width: 100%;
        max-height: 60px;
    }    
}
@media screen and (max-width: 361px) {
    .image-container {
        width: 110px;
        height: 110px;      
    }
    .img1modal {
        max-width: 100%;
        max-height: 75px;
    }
}